fastapi
uvicorn[fastapi]
python-dotenv
logfire

# file loaders
bs4
pypdf
pdfplumber
unstructured[docx,pptx]

# Guardrails
nemoguardrails

# Gen AI Packages
sentence-transformers

# Google packages
langchain-google-genai

# Langchain packages
langchain-groq
langgraph

# Qdrant
qdrant-client

# Ranker
flashrank